<nav class="navbar navbar-expand-lg navbar-light" style="background-color:cadetblue">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page"
                        [routerLink]="['/']">{{'navbar.meetingSchedule'|translate}}</a>
                </li>
            </ul>
        </div>

        <div class="dropdown">
            <button class="dropbtn ">Language</button>
            <select class="dropdown-content" [(ngModel)]="selectLang" name="selectLang" (change)="setTransLanguage()">
                <option *ngFor="let lang of TransLang" [value]="lang">{{lang}}</option>
            </select>
        </div>
        <!-- 
        <select aria-label="Disabled select example">
            <option>Hindi</option>
            <option>English</option>
        </select> -->


    </div>

</nav>