<nav class="navbar navbar-expand-lg navbar-light bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand">Navbar</a>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" [routerLink]="['/']">Meeting Schedule</a>
                </li>
            </ul>
        </div>

        <select aria-label="Disabled select example">
            <option>Hindi</option>
            <option>English</option>
        </select>


    </div>

</nav>