.flex-container {
    display: flex;
    width: 100%;
    justify-content: flex-start;
    flex-direction: row;


}

#form {

    padding: 10px;
    margin-left: 50px;
}

thead tr {
    border-radius: 20px;
    background-color: cadetblue;

}

td {
    text-align: center;
}

tbody tr {

    color: cadetblue;
}

table {
    text-align: center;
}

image {
    background-image: url("../../../assets/Images/pngtree.jpg");
    min-width: 50px;
    min-height: 70px;
}